---
import Layout from '../../layouts/Layout_WPS.astro';

import StepByStep from '../../components/StepByStep.astro';
import ContactBox from '../../components/ContactBox.astro';
import HeroSection from '../../components/HeroSection.astro';

import Violations from "../../assets/images/WPS//WPS-Code_violations.png";
import Talk from "../../assets/images/WPS/talk.png";
import Approval from "../../assets/images/WPS/approval.png";
import Agreement from "../../assets/images/WPS/agreement.png";
import Inspection from "../../assets/images/WPS/inspection.png";
import Resolution from "../../assets/images/WPS/approval (1).png";
---

<Layout title="WPS - Code Violation Solutions">
	<HeroSection
		imagePath={Violations}
		title="Code Violation Solutions"
		body="Swift and stress-free resolution of code violations, ensuring compliance and peace of mind for property owners in Broward County."
	/>

	<section class="text_content_background">
		<div class="container py-3">
			<h4 class="baskervville-regular text-center">How It Works</h4>

			<StepByStep
				imagePath={Talk}
				title="Initial Consultation"
				body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			/>

			<StepByStep
				imagePath={Approval}
				title="Document Review and Submission"
				body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			/>

			<StepByStep
				imagePath={Agreement}
				title="City Official Interaction"
				body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			/>

			<StepByStep
				imagePath={Resolution}
				title="Case Resolution"
				body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			/>

			<ContactBox
				text="Need Help with a Code Violation? Contact Us Today for a Free Consultation."
			/>

		</div>
	</section>
</Layout>

<style>
	.home_content {
		background-size: cover;
	}
	.image_box img{
		width: 100%;
		height: 100%;
	}
</style>
