---
import Layout from '../../layouts/Layout_WPS.astro';

import KeyPoints from '../../components/KeyPoints.astro';

import StepByStep from '../../components/StepByStep.astro';
import ContactBox from '../../components/ContactBox.astro';
import HeroSection from '../../components/HeroSection.astro';

import Violations from "../../assets/images/WPS/WPS-Permit.png";
import Agreement from "../../assets/images/WPS/agreement.png";
import Resolution from "../../assets/images/WPS/approval (1).png";
import Route from "../../assets/images/WPS/route.png";
import Clock from "../../assets/images/WPS/clock.png"
---

<Layout title="WPS - Permitting Solutions">
    <HeroSection
		imagePath={Violations}
		title="Permitting Solutions"
		body="Simplify the permitting process with Whiddon Property Solutions. From form submissions to final approvals, we manage every detail, ensuring compliance and peace of mind."
	/>

	<section class="text_content_background">
		<div class="container py-3">
			<h4 class="baskervville-regular text-center">Why Permitting Solutions Matter</h4>
            <p class="text-center py-3">Whether you're planning new construction or renovations, navigating local permit requirements can be time-consuming and complex. With Whiddon Property Solutions, we ensure that all the necessary forms are properly handled, submitted, and approved—taking the guesswork out of permitting.</p>

            <p class="text-center py-3">An expired and active permit stays on the property records for years, and even when the property is sold to new owners, the issues are still linked to the property itself rather than to any specific owner.</p>

            <p class="text-center py-3">Permit violations can significantly hinder real estate transactions. If permit problems are overlooked during the sale, it can lead to serious consequences, as any unresolved violations will fall to the new owner(s).</p>

			<h4 class="baskervville-regular text-center">Why Choose Whiddon Property Solutions for Permitting?</h4>

            <div class="row gap-2">
                <KeyPoints
                    imagePath={Resolution}
                    text="Expertise in local permitting regulations."
                />
                <KeyPoints
                    imagePath={Route}
                    text="Full-service support from start to finish."
                />
                <KeyPoints
                    imagePath={Clock}
                    text="Timely submissions to avoid delays."
                />
                <KeyPoints
                    imagePath={Agreement}
                    text="Peace of mind for property owners."
                />
            </div>

			<ContactBox
				text="Need Help with a Permitting Solutions? Contact Us Today for a Free Consultation."
			/>

		</div>
	</section>
</Layout>

<style>
	.home_content {
		background-size: cover;
	}
	.image_box img{
		width: 100%;
		height: 100%;
	}
</style>
